
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<!--<div class="logo-second-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-second.png" alt="">
			</a>
		</div>-->
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.png" alt="">
			</a>
		</div>
		<div class="menu-wrap">
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li class="menu-main js-popup-wrap">
						<a href="" class="btn-menu js-btn-toggle">
							<span class="btn-action-ico ico-menu"></span>
							<span class="button-title">Меню</span>
						</a>
						<div class="popup-content-block js-popup-block">
							<div class="location-inner">
								<a href="" class="btn-location js-popup-open" data-popup="popup-city-load">Переславль-Залесский</a>
							</div>
							<ul class="menu-inner">
								<li>
									<ul>
										<li><a href="">Каталог теплиц</a></li>
										<li><a href="">Онлайн расчет</a></li>
										<li><a href="">Аксессуары</a></li>
										<li><a href="">Другие товары</a></li>
									</ul>
								</li>
								<li>
									<ul>
										<li><a href="">Доставка и монтаж</a></li>
										<li><a href="">Оплата и рассрочка</a></li>
										<li><a href="">Оптовым клиентам</a></li>
									</ul>
								</li>
								<li>
									<ul>
										<li><a href="">Отзывы клиентов</a></li>
										<li><a href="">Фотографии</a></li>
										<li><a href="">Видео</a></li>
										<li><a href="">Обзоры</a></li>
									</ul>
								</li>
								<li>
									<ul>
										<li><a href="">О компании</a></li>
										<li><a href="">Контакты</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="" class="btn-menu">
							<span class="button-title">Главная</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<span class="button-title">Каталог</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<span class="button-title">Отзывы</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="location-wrap">
			<a href="" class="btn-action-ico ico-location js-popup-open" data-popup="popup-city-load"></a>
		</div>
		<div class="search-wrap">
			<a href="" class="btn-action-ico ico-search js-popup-open" data-popup="popup-search"></a>
		</div>
		<div class="filter-wrap active">
			<a href="" class="btn-filter">
				<span class="btn-action-ico ico-filter"></span>
				<span class="button-count" data-title=" сравнения">4</span>
			</a>
		</div>
		<div class="phone-wrap">
			<a href="" class="link-phone js-popup-open" data-popup="popup-callback">+7 499 288 90 04</a>
		</div>
	</div>
</header>
<!-- /header -->